/node_modules
/public/hot
/public/js/*
/public/css/*
/public/storage/images/products/*
/storage/*.key
/storage/app/public/images/products
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
