/node_modules
/public/hot
/public/js/*
/public/css/*
/storage/*.key
/storage/app/public/images/projects/*
/storage/app/public/images/products/*
/storage/app/public/images/service_groups/*
/storage/debugbar/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.psysh.php
