//Layout
$layout-margin: -88px;
$contacts-header-margin: 70px;
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$btn-green-color: #076632;
$text-color: #5A4636;

$font-glory: 'Glory', sans-serif;
$font-gilroy: 'Gilroy', sans-serif;
