$sidebar-width : 60px;

.app-container {
    min-height: 100%;
    position: relative;
    background: #f9f9f9;
    padding-bottom: 30px;
}

.navbar {
    padding-left: $sidebar-width;
}

.app-container .content-container .side-menu {
    width: $sidebar-width;
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
}

.side-menu.sidebar {
    position: fixed;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(53, 61, 71), rgb(33, 41, 46));
    transition: width .5s cubic-bezier(.19,1,.22,1);
}

.side-menu.sidebar ul li {
    color: white;
}

.side-menu.sidebar:hover {
    width: 250px;
}

.side-menu.sidebar span.mdi {
    display: inline-block;
    text-align: center;
    width: 38px;
}

.app-container .content-container .side-body.padding-top {
    padding-top: 62px;
}

.breadcrumb {
    list-style: none;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    top: 2px;
    border: 1px solid #f9f9f9;
    font-size: 12px;
    padding: 4px 15px 4px 10px;
}

.app-container .side-body {
    margin-left: 50px;
    margin-right: 12px;
}
