$sidebar-width : 60px;
$dark-bg : #2e303d;
$lighter-bg : #3b4052;
$blue-bg: #207ec9;
$blueish-bg : #304058;
$blueish-lighter-bg : #424457;
$text-color-light : #bdc1d7;
$green : #20c962;
$red : #dc3545;

#app {
    margin: auto;
    max-width: 1400px;
    min-height: 1100px;
    position: relative !important;
    overflow-x: hidden !important;
}

.app-container {
    min-height: 100%;
    position: relative;
    background: #2e303d;
    padding-bottom: 30px;
}

.navbar {
    padding-left: $sidebar-width;
}

.app-container .content-container .side-menu {
    top: 60px;
    background: #323544;
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
}

.side-menu.sidebar {
    height: 100%;
    width: 100px;
    padding: 20px;
    /*background-image: linear-gradient(45deg, rgb(53, 61, 71), rgb(33, 41, 46));
    transition: width .5s cubic-bezier(.19,1,.22,1);*/
}

.side-menu.sidebar ul li {
    color: white;
}

.side-menu.sidebar:hover {
    //width: 250px;
}

.side-menu.sidebar span.mdi {
    display: inline-block;
    text-align: center;
    width: 70px;
    font-size: 46px;
    color: #bdc1d7 !important;
}

.app-container .content-container .side-body.padding-top {
    padding-top: 62px;
}

.table-header {
    background: $blueish-bg;
    display: flex;
    align-items: center;

    .table-header-caption {
        display: flex;
        padding: 1.5rem 3rem;
    }

    .table-header-link {
        padding: 1.5rem;

        a {
            color: #9598a6;
            //text-decoration: underline !important;
            &:hover {
                color: #fff !important;
            }
        }

    }
}

.table {
    color: $text-color-light !important;
    thead th {
        font-size: 22px !important;
        border-top: none !important;
        padding-left: 2rem !important;
    }
    td {
        font-size: 18px !important;
        border-top: 1px solid #dee2e621 !important;
        vertical-align: middle !important;
        padding-left: 2rem !important;
    }
}

.btn-rounded {
    font-size: 18px;
    border-radius: 50px !important;
    color: $text-color-light !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.btn-green {
    color: #fff !important;
    border: 3px solid $green !important;
    &:hover {
        background: green !important;
    }
}

.btn-blue {
    border: 1px solid $blue-bg !important;
    &:hover {
        background: $blueish-bg !important;
    }
}

.btn-red {
    border: 1px solid $red !important;
    &:hover {
        background: #7b0811 !important;
    }
}

label, span {
    color: #bdc1d7;
}

.admin-form {
    background: $lighter-bg;
    padding: 2rem;
}






.breadcrumb {
    list-style: none;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    top: 2px;
    border: 1px solid #f9f9f9;
    font-size: 12px;
    padding: 4px 15px 4px 10px;
}

.container.dashboard {
    display: flex;
    a.admin-link {
        border: 2px solid #9c9cb5;;
        border-radius: 10px;
        font-size: 30px;
        padding: 10px;
        white-space: nowrap;
    }
}

.page-title {
    display: inline-block;
    font-size: 30px;
    line-height: 43px;
    color: $text-color-light;
    position: relative;
    font-weight: 700;
    margin: 0 1rem 0 0 ;
}

.panel {
    margin-bottom: 22px;
    background-color: $blueish-lighter-bg;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

.app-container .content-container .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    overflow: hidden;
}

.app-container .content-container .side-menu .navbar-nav li a {
    height: 50px;
    line-height: 50px;
    display: inline-flex;
}

.app-container .content-container .side-menu .navbar-nav li a.submenu-link {
    display: inline-flex;
    white-space: nowrap;
}

.app-container .content-container .side-menu .navbar-nav li a:hover {
    text-decoration: none;
}


.nav-tabs {
    border-bottom: 1px solid #757575 !important;
    .nav-link {
        font-size: 1.5rem !important;
        color: #757575;
        &:hover {
            border-color: #757575 #757575 #757575 !important;
        }
    }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none !important;
    background:  $lighter-bg !important;
    color: $text-color-light !important;
}

form.table-delete-entity {
    display: inline-block;
}

.submenu-link {
    height: 25px !important;
    line-height: 25px !important;
    padding-left: 50px !important;
    display: flex !important;
    font-size: 13px !important;
    margin: 5px 0;
}

.submenu-link .menu-icon {
    width: 30px !important;
}

.product-tabs {
    margin-bottom: 30px;
}

.attributes-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.attribute-color {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 20px;
}

.attribute-color.selected {
    border: 4px solid gray;
}

.vue-slider-mark-label {
    display: none !important;
}

.v-select {
    min-width: 150px !important;
}
.icon-select > .v-select {
    background: #E3E3E3 !important;
}
.vs__dropdown-menu {
    background: rgba(125,125,125,0.81) !important;
}

$select_height: 3rem;
#product-attributes {
    .form-row {
        justify-content: space-between;
        align-items: center;
        background: #f7f7f7;
        padding: 20px;
        border-bottom: 1px solid #dddcdc;
        select {
            height: $select_height;
        }
        .form-group {
            width: 40%;
            margin-bottom: 0!important;
            .vs__dropdown-toggle {
                min-height: $select_height;
            }
        }
    }
}

.my-tooltip-class {
    font-size: 30px!important;
}

.border-2 {
    border-width: 2px !important;
}

.table-filter {
    select {
        height: 100%;
    }
}
