// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '~pretty-checkbox/src/pretty-checkbox.scss';
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body {
    overflow-x: hidden;
    font-size: 1rem !important;
}
main {
    @media (max-width: 590px) {
        padding: 0 !important;
    }
}

#app {
    max-width: 1400px;
    min-height: 1200px;
    margin: auto;
    position: relative !important;
    overflow-x: hidden !important;
}

#app.frontend {
    overflow-x: visible !important;
    max-width: 1920px;
}
a.link-passive, a.link-passive:hover {
    color: white;
    text-decoration: none;
}
.theme--dark.v-overlay {
  color: #fff;
}

.visibility-hidden {
    visibility: hidden !important;
}

.v-overlay {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms;
}

.v-overlay__content {
  color: #ffffffff;
  position: relative;
}

.v-overlay__scrim {
  border-radius: inherit;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 100%;
  will-change: opacity;
}

.v-progress-circular {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.v-progress-circular svg {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.v-progress-circular--indeterminate svg {
  -webkit-animation: progress-circular-rotate 1.4s linear infinite;
  animation: progress-circular-rotate 1.4s linear infinite;
  transform-origin: center center;
  transition: all 0.2s ease-in-out;
}
.v-progress-circular--indeterminate .v-progress-circular__overlay {
  -webkit-animation: progress-circular-dash 1.4s ease-in-out infinite;
  animation: progress-circular-dash 1.4s ease-in-out infinite;
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0px;
}
.v-progress-circular__info {
  align-items: center;
  display: flex;
  justify-content: center;
}
.v-progress-circular__underlay {
  stroke: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.v-progress-circular__overlay {
  stroke: currentColor;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}

@-webkit-keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}
@-webkit-keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.product-card {
    display: flex;
    flex-direction: column-reverse;
    height: 250px;
    background-size:cover;
    background-position: center;

    .description {
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        background: rgba(10,10,10,0.5);
        margin-bottom: 0!important;
        line-height: 50px;
    }
}

.dropdown-menu {
    min-width: 13rem !important;
}

#app.shop {
    @media (min-width: 590px) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    max-width: 100%;
    background: #2c2c2c;
}

footer.home-footer {
    padding-top: 50px;
    background: #1f2b0c;
    color: #fff !important;

    .color-grey {
        color: #878787;
    }
    .desc.color-grey {
        font-size: 18px;
        max-width: 80%;
        line-height: 30px;
        @media (max-width:590px) {
            font-size: 14px;
        }
    }
    .footer-main {
        @media (max-width:590px) {
            padding: 0 2vw;
        }
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        //padding: 0 200px;
    }

    .company, .menu, .contacts {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    .menu, .contacts {
        margin-top: 25px;
        @media (max-width:590px) {
            margin-top: 70px;
            font-size: 14px;
        }

        .title {
            margin-bottom: 15px;
        }
    }

    .company {
        img {
            height: 50px;
            @media (max-width: 590px) {

            }
        }
    }

    .title {
        text-transform: uppercase;
    }

    .menu {
        ul {
            text-transform: none;
            list-style-type: square;
            list-style-position: inside;
            padding: 0;

            li {
                margin-bottom: 5px;
            }
        }
    }

    .contacts {
        ul {
            list-style-type: none;
            list-style-position: inside;
            padding: 0;
            color: #878787;
            li {
                margin-bottom: 15px;
                display: flex;
                span {
                    display: flex;
                    align-items: center;
                }
            }
        }
        img {
            height: 36px;
            margin-right: 15px;
            @media (max-width: 590px) {
                display: none;
            }
        }
    }

    .certs {
        background: #d9dfe1;
        display: flex;
        justify-content: center;

        .certs-inner {
            display: flex;
            justify-content: space-evenly;
            width: 60%;
            @media (max-width: 590px) {
                width: 100%;
            }
        }

        img {
            height: 120px;
            @media (max-width: 590px) {
                height: 90px;
            }
        }
    }

    .copyright {
        width: 100%;
        display: flex;
        padding: 30px 0;
        background: #1b240b;
        @media (max-width: 590px) {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
}

.home-text {
    background: #d8cdc0;
}

.home-text2 {
    background: #efe4d8;
}

.home-text, .home-text2 {
    width: 100%;
    .container {
        padding: 80px 100px 100px;
    }
}

.home-partners {
    background: #f5f5f5;

    .partners-title {
        padding-top: 50px;
        border-bottom: 1px solid;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        height: 125px;
    }
    @media (max-width: 590px) {
        .partners-title {
            padding-top: 20px;
        }

        img {
            height: 80px;
        }
    }
}

.projects-index {
    .project-row {
        margin-top: 80px;
        margin-bottom: 100px;
        background: #e0e0e0;
        .project-image {
            height: 500px;
            width: 500px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 60px;
            background-position: center;
            background-size: cover;
            color: #ffffff;
            font-size: 44px;
            font-weight: bold;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.84);
        }

        .project-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 22px;
            font-family: 'Open Sans Light', sans-serif !important;
            font-style: italic;
            font-weight: 300;
            padding: 0 160px;
        }
    }
    .project-button {
        text-transform: uppercase;
        width: 50%;
    }
    .show-all-projects {
        display: flex;
        justify-content: center;
        padding: 60px 0;
        background-color: #efefef;
    }
    .project-button, .show-all-projects a {
        font-size: 22px;
        border: 1px solid #737373;
        color: #555555;
        background-color: #ffffff;
    }

}
.projects-all {
    background-color: #eaeaea;
    padding-top: 40px;
    .projects-wrapper {
        background: url("/storage/images/public/projectsbg.png");
        display: flex;
        justify-content: center;

    }
    .projects-disclaimer {
        padding: 80px 0 100px;
        font-size: 22px;
    }
}
.project-page {
    .project-img-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-position: center;
        background-size: cover;

        @media (min-width: 591px) {
            padding-bottom: 30%;
            height: 0;
        }
        @media (max-width: 590px) {
            height: 50vh;
        }

        .project-name {
            position: absolute;
            bottom: 5%;
            color: #ffffff;
            font-size: 44px;
            font-weight: bold;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.57);
            max-width: 30%;
            text-align: center;
            @media (max-width: 590px) {
                max-width: 70%;
            }
        }
    }
    .project-details {
        @media (min-width: 591px) {
            width: 100%;
        }
        @media (min-width: 650px) {
            width: 80%;
        }
        @media (max-width: 591px) {
            width: 100%;
        }
        padding-bottom: 80px;
        .project-description {
            color: #4e4e4e;
            padding: 50px 0;
            font-size: 22px;
            @media (max-width: 591px) {
                padding: 25px 5vh;
            }
        }
        .project-params {
            //width: 60%;
            color: #353535;
            font-size: 20px;
            padding-left: 40px;
            @media (max-width: 591px) {
                width: 100%;
                font-size: 1rem;
            }
            .row {
                border-bottom: 1px solid #d4d4d4;
                align-items: center;
                min-height: 50px;
                margin: 0 !important;
            }
            .plant-tag {
                background-color: #d8cdc0;
                border: 1px solid #767676;
                padding: 3px 10px;
                cursor: pointer;
                color: #353535 !important;
                white-space: nowrap;
                &:hover {
                    text-decoration: none;
                    background-color: #bfb1a0;
                }
            }
        }
    }
    .images-wrapper {
        padding: 40px 0;
    }
}

.knowhow-img-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30%;
    height: 0;
    background-position: center;
    background-size: cover;
    .knowhow-title {
        font-size: 3.5rem;
        position: absolute;
        bottom: 25%;
        font-weight: bold;
        max-width: 50%;
        text-align: center;
        text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
        color: #ffffff
    }
}

.design-styles {
    .styles-page-heading {
        padding: 3em 0; max-width: 1150px;
        @media (max-width: 590px) {
            width: 100%;
            padding: 2em;
        }
    }
    .styles-bg-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 30%;
        height: 0;
        background-position: center;
        background-size: cover;
        @media (max-width: 590px) {
            height: 40vh;
            min-height: 40vh;
            padding: 0 !important;
        }

        .styles-title {
            font-size: 3.5rem;
            position: absolute;
            bottom: 25%;
            font-weight: bold;
            max-width: 30%;
            text-align: left;
            padding-left: 150px;
            text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
            color: #ffffff;
            @media (max-width: 590px) {
                font-size: 23px;
                padding-left: 0;
            }
        }

    }
    .style-bg {
        background-color: #efefef;
    }
    .style-row {
        width: 100%;
        justify-content: center;
        padding: 3em 0;
        img {
            max-width: 100%;
        }
        p.odd {
            padding: 1em 0 0 3em;
            @media (max-width:590px) {
                padding: 1em 2em;
            }
        }
        p.even {
            padding: 1em 3em 0 0;
            @media (max-width:590px) {
                padding: 1em 2em;
            }
        }

        p.style-title {
            padding: 20px;
            background: rgba(0, 0, 0, 0.68);
            margin-top: -65px;
            color: white;
            text-align: center;
        }
    }
}

#shop-navigation {
    a.back_btn {
        padding-right: 10px;
        text-decoration: none;
        border: none;
        background: #6e6e6e;
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }
}

.product-images.slider-wrapper {
    .splide__slide {
        cursor: pointer;
    }
    .splide__arrow {
        width: 4rem;
        height: 4rem;
        opacity: 1;
        background: transparent;
        .mdi {
            font-size: 70px;
            color: #ffffff;
        }
    }
}

.space-between {
    justify-content: space-between !important;
}

.layout-spacing {
    margin-top: -88px;
    @media (max-width: 590px) {
        padding-top: 70px !important;
        margin-top: 0;
    }
}

.login-dropdown {
    min-width: 250px !important;
    background: rgb(57, 64, 70) !important;
    color: #fff !important;
    .form-group {
        margin-bottom: 10px !important;
    }
    a {
        text-decoration: none !important;
        color: #fff !important;
        &:hover {
            color: #b1b1b1 !important;
        }
    }
    .btn.btn-primary {
        background-color: #b09889 !important;
        border: none;
        &:hover {
            background-color: #c4ad9f !important;
        }
    }
}

.curpointer {
    cursor: pointer !important;
}

#user-profile {
    ul.card-header.tab-controls {
        background-color: #333333 !important;

        a {
            text-decoration: none !important;
            color: #fff !important;

            &:hover {
                color: #b1b1b1 !important;
            }
        }

        .nav-link.active {
            background-color: #666666;
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.site-nav {
    position: relative;
}

.map {
    width: 100%;
}

.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}

.filter-small-wrapper {
    @media (min-width: 591px) {
        margin-top: -80px;
    }
}

.projects-all-title {
    margin-top: -25px;
    margin-bottom: 50px;
}

.filler {
    @media (max-width: 590px) {
        display: none;
    }
}

.profile-tabs-wrapper, .service-tabs-wrapper {
    width: 25% !important;
    @media (max-width:590px) {
        width: 100% !important;
    }
}
.service-tabs-wrapper {
    width: 35% !important;
    @media (max-width:590px) {
        width: 100% !important;
    }
}

.services-all {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: aliceblue;

    .services-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.service-page {
    .tabs {
    }
    .tab-controls {
        background: none !important;
        .nav-item {
            margin-bottom: 1rem;

            a {
                background: #fffdfa;
                padding: 1rem 2rem;
                color: black;
                height: 100%;
                font-size: 1.2rem;
                border-right: 2px solid bisque;
                &.active {
                    background: #FFF1DE;
                }
                &:not(.active):hover {
                    background: #FFFAF4;
                }
            }

        }

    }
    .tab-content {
        //height: 400px !important;
        margin-left: 50px;
    }
    .tab-pane.active.card-body {
        padding: 0 !important;
    }
}
.dropdown-text {
    display: inline-block;
    padding: 0.25rem 1.5rem;
    margin-bottom: 0;
    width: 100%;
    clear: both;
    font-weight: lighter;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #000000da;
    z-index: 1000;
    .gmodal {
        position: relative;
        margin-top: 10%;
        background-color: #ffffff;
        height: max-content;
        width: 500px;
        @media (max-height: 600px) {
            margin-top: 5%;
        }
    }
    .close-modal {
        font-size: 48px;
    }
}

#modal-cart {
    * {
        color: #353535;
    }

    .gmodal {
        background-color: #ebf0f1 !important;
        @media (max-width: 669px) {
            width: 100vw;
        }
        @media (min-width: 670px) {
            width: 75vw;
        }
        @media (min-width: 1200px) {
            width: 50vw;
        }
    }

    .modal-title {
        display: flex;
        align-items: center;
        @media (max-height: 500px) {
            font-size: 1rem;
        }
    }

    button {
        padding: 10px;
        background: #494441 !important;
        border-color: #494441 !important;
        color: #ffffff;
    }
}

.modal-overlay {
    .close-modal {
        position: absolute;
        cursor: pointer;
        color: #ffffff !important;
    }

    @media (min-width: 670px) {
        .close-modal {
            top: -50px;
            right: -50px;
            font-size: 48px;
        }
    }
    @media (max-width: 670px) {
        .close-modal {
            top: -3.2rem;
            font-size: 40px;
            right: 0;
            color: #000000;
        }
    }
}

.service-page {
    .modal-overlay {
        .gmodal {
            text-align: center;
            background-color: #fff6ea;
            width: 500px;
            padding: 40px 0;
            input.form-control {
                width: 70%;
                margin: 0 auto 1rem;
                line-height: 24px;
                font-size: 24px;
            }
        }
    }
}

.review-modal {
    width: 50% !important;
    input.form-control {
        width: 70%;
        margin: 0 auto 1rem;
        line-height: 24px;
        font-size: 24px;
    }
}

