@use 'staticinfo_page';
.colorbar {
    background: #b3c18f;
}
.page-content {
    #balance {
        background: #fffef6;
    }
    #roofs {
        background: #efefef;
        img {
        }
        ul {
            li {
                line-height: 30px;
            }
        }
    }
    #lighting {
        background: #e8cece;
        @media(max-width: 600px) {
            background: #e8dace;
        }
    }
}
.page-content {
    .static-page-section {
        @media(max-width: 600px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.section-details {
    @media(max-width: 600px) {
        flex-wrap: wrap;
    }
    .section-text {
        .mw {
            max-width: 50%;
            @media(max-width: 600px) {
                max-width: 100%;
            }
        }

    }
}
