@use 'staticinfo_page';
.colorbar {
    background: #eaddc6;
}
.page-content {
    #planning {
        background: #f2edd9;
        p {
            flex-direction: column;
            line-height: 40px;
            padding-right: 50px;
        }
    }
    #topiary{
        background: #efefef;
        h3 {
            padding-left: 50px;
        }
        p {
            flex-direction: column;
            line-height: 40px;
            padding-left: 50px;
        }
        img {
            border-radius: 200px;
            height: max-content;
        }
    }
    #ordering {
        background: #ffffff;
        p {
            line-height: 40px;
            padding-right: 50px;
        }
    }
    #transport {
        background: #ffecd0;
    }
    #planting {
        background: #ffffff;
    }
    #pruning {
        background: #fcfff8;
        img {
            height: 50px;
        }
    }
}
