@import '_variables.scss';

#knowhow-page {
    #top-banner {
        display: flex;
        margin-top: 80px;
        font-family: 'Inter', sans-serif;
        color: $text-color;
        div {
            flex: 1;
        }
        .banner-left {
            flex: 1.2;
            background-color: #ffffff;
            padding-top: 30px;
            padding-left: 40px;
        }
        .page-title {
            font-size: 40px;
            width: 50%;
            line-height: 50px;
            font-weight: 600;
        }
        .page-description {
            width: 85%;
            margin-top: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
