@import '_variables.scss';
#projects_index_page {
    margin-top: 30px;
    #projects {
        margin-top: 30px;
        .project-type-row {
            padding-bottom: 70px;
            .project-type-heading {
                width: 60%;
                margin: auto;
                text-align: center;
                .project-type-name {

                }
                .project-type-description {
                    width: 75%;
                    font: 500 20px 'Inter', sans-serif;
                    line-height: 30px;
                    color: $text-color;
                    margin: 10px auto 0;
                }
            }
            .project-type-links {
                margin-top: 50px;
                display: flex;
                gap: 20px;
                justify-content: flex-start;
                .project-type-link {
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 288px;
                        height: 225px;
                    }
                    .project-name {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 10px 20px;
                        background-color: rgba(0,0,0,0.6);
                        color: #ffffff;
                        font-size: 17px;
                        line-height: 26px;
                        font-weight: 500;
                        text-align: center;

                        .project-name-wr {
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}
#project-type-page {
    #page-title.heading {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    a {
        &:hover {
            text-decoration-color: $text-color;
        }
    }
    img.project-type-bg {
        width: 100%;
        height: 650px;
        object-fit: cover;
    }
    .project-details {
        color: $text-color;
        margin-top: 20px;
        .project-name {
            font-size: 20px;
            font-weight: 500;
        }
        .project-description {
            width: 50%;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 400;
        }
    }
    #projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;
        padding-bottom: 45px;

        .project-card {
            margin-top: 10px;
            flex: 1;
            max-width: 50%;
            cursor: pointer;
            &:hover img {
                opacity: 0.9;
            }
            img {
                width: 590px;
                height: 290px;
                object-fit: cover;
            }
            .project-name {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
            .project-description {
                width: 100%;
            }
        }
    }
}
#projects-landing-form {
    background-image: url('/storage/images/public/projects_landing_form_bg.jpg');
    .projects-landing-form-inner {
        padding: 40px 0 75px 0;

        .heading {
            width: 55%;
            font-size: 50px;
            line-height: 62px;
            color: #ffffff !important;
        }
        form {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            input {
                width: 85%;
                background: none;
                border: none;
                border-bottom: 1px solid #ffffff;
                font-size: 20px;
                color: #ffffff;
                padding: 10px 3px;
                &::placeholder {
                    color: #ffffff;
                    opacity: 1;
                }
                &:focus {
                    outline: none !important;
                }
            }
        }
    }
}
